.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  display: flex;
  list-style: none;
  font-size: 1.1em;
  justify-content: center;
  border-bottom: 1px solid #aaa;
  /* margin: 0, 0, 10px, 10px; */
  padding-bottom: 0;
}

.react-tabs__tab {
  display: flex;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  margin: 0px 30px;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab:hover {
  cursor: pointer;
  text-decoration: underline;
}

.react-tabs__tab--selected {
  background: #f7f7f7;
  font-weight: bolder;
  border-bottom: 3px solid #ca0813;
}

.react-tabs__tab--selected:hover {
  background: #f7f7f7;
  border-bottom: 3px solid #ca0813;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #f7f7f7;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
