body {
  background-color: rgba(20, 20, 20, 0.05);
  font-family: Helvetica, sans-serif;
}

#about {
  text-align: center;
}

#description,
#highlights,
#specs {
  background-color: white;
  padding: 20px;
}

#highlights {
  margin-bottom: 10px;
}

#boldSlice {
  font-weight: bold;
}

#lightSlice {
  font-weight: lighter;
}

#descText {
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 0px;
}
